<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sopeapp">

    // https://developer.android.com/reference/android/Manifest.permission.html#ACCESS_FINE_LOCATION

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--<uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />-->
    <!--<uses-feature android:name="android.hardware.camera.any" android:required="false"/>-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>-->

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SopeApplication"
        >
        <activity
            android:name=".FirstPageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category  android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.CreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tabs.MainTabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <service
            android:name=".websocket.WebSocketService"
            android:exported="false">
        </service>


        <service
            android:name=".firebase.SopeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".firebase.SopeFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>